<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <!-- MySqlServer -->
    <connectionStrings>
        <add name="DefaultConnectionString" connectionString="server=localhost;Uid=geocaching;Password=geocaching;Persist Security Info=False;database=geocaching" />
    </connectionStrings>

    <appSettings>
        <!-- MySqlServer -->
        <add key="DALAssembly" value="Swk5.GeoCaching.DAL.MySQLServer" />
        <add key="LocalImageStorage" value="D:\fh\05_WiSe13\SWK\UE\geocaching\src\GeoCaching\GeoCachingDALMySQLServer\images"/>
    </appSettings>
    
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
